<%= form_for(@goal_entry) do |f| %>
  <% if @goal_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal_entry.errors.count, "error") %> prohibited this goal_entry from being saved:</h2>

      <ul>
      <% @goal_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :goal_id %><br>
    <%= f.number_field :goal_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
